<template>
	<div class="contact">
		<h3>Contact</h3>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-8">
					<table class="table">
						<thead>
							<tr>
								<th>Name</th>
								<th>Email</th>
								<th>Phone</th>
								<th>Enquiry</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="contact in contacts">
								<td>{{contact.name}}</td>
								<td>{{contact.email}}</td>
								<td>{{contact.phone}}</td>
								<td>{{contact.enquiry}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	export default {
		data: function(){
			return {
				contacts: []
			}
		},
		mounted: function () {
			var self = this
			axios.get('/contact/').then((success) => {
				console.log(success.data)
				self.contacts = success.data.data
			})
		}
	}
</script>
<style lang="scss">
	body{
		background-color: #fff !important;
	}
</style>