<template>
	<div class="dashboard">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<h3>Dashboard</h3>
					<div class="row">
						<div class="col-md-3 col-12">
							<div class="card text-center">
								<div class="card-header text-center">
									Contact
								</div>
								<div class="card-body">
									<h3>{{statistic.contact}}</h3>
									
								</div>
							</div>
						</div>
						<div class="col-md-3 col-12">
							<div class="card text-center">
								<div class="card-header text-center">
									Customer
								</div>
								<div class="card-body">
									<h3>{{statistic.customer}}</h3>
									
								</div>
							</div>
						</div>
						<div class="col-md-3 col-12">
							<div class="card text-center">
								<div class="card-header text-center">
									Portfolio
								</div>
								<div class="card-body">
									<h3>{{statistic.portfolio}}</h3>
									
								</div>
							</div>
						</div>
						<div class="col-md-3 col-12">
							<div class="card text-center">
								<div class="card-header text-center">
									Sales
								</div>
								<div class="card-body">
									<h3>{{statistic.sales}}</h3>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<style lang="scss" scoped>
	@media only screen and (max-width: 600px){
		.col-12{
			margin-top: 15px;
		}
	}
</style>
<script>
	export default {
		data: function () {
			return {
				statistic: {}
			}
		},
		mounted: function () {
			var self = this
			axios.get('/statistic').then((success) => {
				console.log(success.data)
				self.statistic = success.data
			})
		}
	}
</script>