<template>
	<div class="home">
		<div class="container-fluid">
			<div class="row">
				<div class="sidebar col-md-2">
					    <router-link to="/" class="sidebar-link">Dashboard</router-link>
					    <router-link to="/contact" class="sidebar-link">Contact</router-link>
					    <router-link to="/potfolio" class="sidebar-link">Portfolio</router-link>

				</div>
				<div class="col-md-10 offset-md-2">
					<router-view></router-view>
				</div>
			</div>

		</div>
		
		
	</div>
</template>
<style lang="scss" scoped>
	@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');
	.sidebar{
		position: absolute;
		margin-top: -23.8px;
		width: 100%;
		height: 100%;
		background-color: #fff;
		box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.07);
	}
	.sidebar-link{
		width: 100%;
		display: block;
		padding: 15px 10px 15px 10px;
		font-family: 'Quicksand';
		color: #757D75;
		font-weight: 500;
	}
	.sidebar-link:hover{
		background-color: rgba(0, 0, 0, 0.07);
		border-radius: 10px;
	}
	@media only screen and (max-width:600px){
		.sidebar{
			display: none;
		}
	}
</style>
<script>
	import sidebar from '../components/Sidebar.vue'
	export default {
		components:{
			sidebar
		}
	}
</script>